.gray-bg
{
  background-color: #343A46;
  padding: 20px;
  text-align: center;
}

.board {
  border-collapse: collapse; /* Asegura que los bordes de la tabla se comporten correctamente */
}

.board td {
  border: 12px solid #61DAFB; /* Bordes gruesos y de color cyan */
  padding: 0;
  height: 16vh;
  width: 16vh;
  text-align: center;
}
/* Childs para quitar los bordes */
.board tr :nth-child(1)
{
  border-left: none;
}
.board tr :nth-child(3) {
  border-right: none;
}
.board .last-line :nth-child(n)
{
  border-bottom: none;
}
.board .first-line :nth-child(n)
{
  border-top: none;
}
.square 
{
  background: #ffffff00;
  border: none;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 100%;
  cursor: pointer; 
}

.gray-square {
  background-color: #999;
}

.game {
  display: flex;
  flex-direction: column;
  align-content: center;
  place-items: center;
  gap: 40px;
}
