* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.header
{
  background-color: #343A46;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

.board {
  border-collapse: collapse; /* Asegura que los bordes de la tabla se comporten correctamente */
  margin: 0 auto; /* Centra la tabla en la pantalla */
}

.board td {
  border: 12px solid #61DAFB; /* Bordes gruesos y de color cyan */
  padding: 0;
  height: 80px;
  width: 80px;
  text-align: center;
}
/* Childs para quitar los bordes */
.board tr :nth-child(1)
{
  border-left: none;
}
.board tr :nth-child(3) {
  border-right: none;
}
.board .last-line :nth-child(n)
{
  border-bottom: none;
}
.board .first-line :nth-child(n)
{
  border-top: none;
}
.square 
{
  background: #ffffff00;
  border: none;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 90%;
  padding: 0;
  text-align: center;
  width: 100%;
  cursor: pointer; 
}

.gray-square {
  background-color: #999;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: grid;
  flex-direction: row;
  align-content: center;
  place-items: center;
  min-height: 80vh;
}

.game-info {
  margin-left: 20px;
}